@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/*
For resetting default margin and padding:
	*{margin: 0;padding: 0}
*/
body{
	background: #ddd;
	font-family: 'Open Sans Condensed', sans-serif;
}
abbr{
	color: rgb(0,78,0);
	font-weight: 700;
}
/* unvisited link */
a:link {color: #fff;}

/* visited link */
a:visited {color: #fff;}

/* mouse over link */
a:hover {color: #ddd;text-decoration: underline;}

/* selected link */
a:active {color: #ddd;text-decoration: underline;}

p.italic{font-style: italic;}

#wrap{
	margin: 0 auto;
	width: 840px;
	background: #eee;
	padding: 5px 20px 30px 20px;
}
#headerPart{
	width: 800px;
	overflow:hidden;
}
h1#companyName{float: left;width: 500px;}
h4#slogan{
	float: left;
	width: 300px;
	margin-top: 40px;
}
nav ul{list-style: none;}
nav ul li{display: inline-block;padding: 5px 20px;background: #056fdd;}
nav ul li a{
	text-decoration: none;
	color: #fff;			
}
ul.circle{list-style-type: circle;}
ul.square{list-style-type: square;}
.btn{
	padding: 10px;background: #92eeff;
}
.btn.success{background: rgb(0,136,0);color:#ddd;}
.btn.reset{background: #ff4d4d;color:#ddd;}
#footerPart{
	background: #000;
	width: 800px;
	overflow: hidden;
}
.copyright{
	float: left;
	color: #ddd;
	padding: 0px 15px;
}
#footerLink{
	float: right;
	margin-top:10px;
}
#footerLink a{
	padding: 0px 5px;
}