@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/*
For resetting default margin and padding:
	*{margin: 0;padding: 0}
*/
body{
	background: #ddd;
	font-family: 'Open Sans Condensed', sans-serif;
}
abbr{
	color: rgb(0,78,0);
	font-weight: 700;
}
/* unvisited link */
a:link {color: rgb(0,136,0);}

/* visited link */
a:visited {color: blue;}

/* mouse over link */
a:hover {color: rgb(0,126,0);text-decoration: underline;}

/* selected link */
a:active {color: blue;text-decoration: underline;}

p.italic{font-style: italic;}

#wrap{
	margin: 0 auto;
	width: 840px;
	background: #eee;
	padding: 5px 20px 30px 20px;
}
#headerPart{
	width: 800px;
	overflow:hidden;
}
h1#companyName{float: left;width: 500px;}
h4#slogan{
	float: left;
	width: 300px;
	margin-top: 40px;
}
nav ul{list-style: none;}
nav ul li{display: inline-block;padding: 5px 20px;background: #056fdd;}
nav ul li a{
	text-decoration: none;
	color: #fff;			
}
nav ul li a:link {color: #fff;}
nav ul li a:visited {color: #fff;}
nav ul li a:hover {color: #ddd;text-decoration: underline;}
nav ul li a:active {color: #ddd;text-decoration: underline;}
ul.circle{list-style-type: circle;}
ul.square{list-style-type: square;}

#content{
	width: 940px;
	overflow: hidden;
}
.progress{
	margin-left: 40px;
}
#mainContent{
	width: 400px;
	float: left;}
#figure{width:540px; float: left;}
.btn{
	padding: 10px;background: #92eeff;
	border-radius: 25px;
	cursor: pointer;
}
.btn.success{background: rgb(0,136,0);color:#ddd;}
.btn.reset{background: #ff4d4d;color:#ddd;}
#footerPart{
	background: #000;
	width: 800px;
	overflow: hidden;
}
.copyright{
	float: left;
	color: #ddd;
	padding: 0px 15px;
}
#footerLink{
	float: right;
	margin-top:10px;
}
#footerLink a{
	padding: 0px 5px;
}
#footerLink a:link {color: #fff;}
#footerLink a:visited {color: #fff;}
#footerLink a:hover {color: #ddd;text-decoration: underline;}
#footerLink a:active {color: #ddd;text-decoration: underline;}

/* Registration Form Style */
input[type="text"],input[type="email"],select {
    width: 50%;
    height: 20px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin-bottom: 5px;
}
select{height:auto;}
textarea{
	width: 50%;
	height: auto;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin-bottom: 5px;
}